@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins/flex' as *;
@use '../../../../styles/mixins/grid' as *;

.placement-form-card {
  @include flex-column(nowrap, space-between, start);
  background-color: var(--gray-soft);
  padding: $MdSize;
  border-radius: $XlSize;
  gap: $XlSize2;

  .form-fields {
    padding: 0;
    @include grid(
      2,
      $XlSize,
      (
        480px: 1,
      )
    );
    label {
      font-size: $MdSize;
      font-family: 'Light';
      color: $InputLabelText !important;
      text-transform: none;
      font-weight: $BaseFontSemiBoldWeight !important;
    }
    .field-input {
      width: 100%;
      padding: $MdSize;
      border: $BaseBorderWidth solid var(--border-weak);
      border-radius: $XlSize4;
      font-size: $MdSize;
      color: var(--gray-800);
      background: var(--white);
      outline: none;
      transition: all 0.25s ease;
      font-family: 'Medium';
      &:focus {
        border-color: var(--PrimaryColor);
        background: var(--bg-main);
        box-shadow: 0 0 0 3px var(--PrimaryColor-light);
      }
    }
  }

  .form-header {
    @include flex-row(nowrap, flex-start, center);
    gap: $XsSize2;
    padding: $MdSize 0;
    .title {
      font-family: 'Medium';
      font-size: $XlSize2;
      color: var(--standard-black);
    }
  }

  .difficulty-selection {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $MdSize;
    width: 100%;
    .difficulty-option-row {
      @include flex-row(nowrap, space-between, center);
      gap: $XlSize3;
      border-radius: $MdSize;
      width: 100%;

      .input {
        @include flex-column(nowrap, flex-start, start);
        &.easy {
          background-color: var(--bg-approved);
        }
        &.medium {
          background-color: var(--caution-bg);
        }
        &.hard {
          background-color: var(--bg-rejected);
        }
        padding: $MdSize;
        border-radius: $MdSize;
        flex: 1;
        width: 100%;
        gap: $XsSize;
        label {
          font-size: $SmSize;
          color: var(--color-dark-gray);
          font-family: 'Light';
          text-transform: capitalize;
        }
        input {
          width: 100%;
          padding: $MdSize;
          border: $BaseBorderWidth solid var(--border-weak);
          border-radius: $XlSize4;
          font-size: $MdSize;
          color: var(--gray-800);
          background: var(--white);
          outline: none;
          transition: all 0.25s ease;
          font-family: 'Medium';
          &:focus {
            border-color: var(--PrimaryColor);
            background: var(--bg-main);
            box-shadow: 0 0 0 3px var(--PrimaryColor-light);
          }
        }
      }

      .percentage {
        @include flex-column(nowrap, center, center);
        gap: $XsSize2;
        background: var(--color-light-gray);
        border-radius: $XsSize3;
        font-weight: bold;
        color: $Gray-5;
        font-size: $XlSize;
        border: $BaseBorderWidth solid var(--border-color);
        min-height: calc($XlSize4 * 2);
        min-width: calc($XlSize4 * 2.5);
        p {
          color: var(--color-dark-gray);
          font-size: $XsSize;
          font-family: 'Light';
        }
        h6 {
          color: var(--standard-black);
          font-size: $MdSize;
          font-family: 'Light';
          span {
            font-family: 'Medium';
          }
        }
      }
      .image-input {
        width: 100%;
        .upload-area {
          background-color: $StandardWhite !important;
        }
        .add-imaegs-data {
          @include flex-column(nowrap, center, center);
          gap: $XsSize5;

          .first-text {
            color: $Gray-5;
            font-size: $XsSize;
            font-weight: $BaseFontSemiBoldWeight;

            span {
              color: $PrimaryColor;
              padding-inline: $XsSize5;
            }
          }

          .second-text {
            color: $SecondText;
            font-size: $XsSize;
            font-weight: $BaseFontWeight;
          }
        }
      }

      .field-label {
        font-size: $MdSize;
        color: $InputLabelText !important;
        text-transform: none;
        font-weight: $BaseFontSemiBoldWeight !important;
      }
    }
  }
  .summary {
    @include flex-column(nowrap, flex-start, start);
    gap: $XsSize;
    padding: $MdSize;
    border-radius: $MdSize;
    background-color: var(--bg-high);
    color: $PrimaryColor;
    .error {
      color: var(--high-color);
      font-size: $MdSize;
      font-family: 'Medium';
    }
  }

  .error-text {
    color: var(--high-color);
    font-family: 'Medium';
  }
}
