.question-show-page {
  display: grid;
  grid-template-columns: minmax(0, 1fr) clamp(280px, 30vw, 350px);
  gap: 1rem;

  @media screen and (max-width: 1100px) {
    grid-template-columns: 1fr;
  }
}

.main-content-row,
.side-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.solution-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
