@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins/flex' as *;
@use '../../../../../styles/mixins/grid' as *;

@mixin status-theme($background, $border, $text) {
  border: $BaseBorderWidth solid $border;
  background: $background;

  &::before {
    background: $border;
  }

  .status-item {
    &:nth-child(1),
    &:nth-child(3) {
      border-color: $border;
    }

    &:first-child h3 {
      color: $text;
    }
  }
}

.question-status-card {
  padding: $MdSize2;
  border-radius: $XlSize;
  position: relative;
  overflow: hidden;

  .status-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 1fr   1fr 1fr;
    gap: $MdSize2;
  }

  .status-item {
    @include flex(column, nowrap, center, center);
    position: relative;
    gap: $XsSize5;

    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(5) {
      padding-inline-end: $XsSize;
      border-inline-end: $BaseBorderWidth solid;
    }

    label {
      font-size: $XsSize;
      color: var(--second-text);
    }

    h3 {
      font-size: $MdSize;
      color: var(--standard-black);
    }
  }

  &.status-created {
    @include status-theme(var(--bg-waiting), var(--border-waiting), var(--StandardBlue));
  }

  &.status-under-review {
    @include status-theme(var(--caution-bg), var(--in-active-color), var(--in-active-color));
  }

  &.status-draft,
  &.status-archived,
  &.status-unknown {
    @include status-theme(var(--bg-drafting), var(--border-drafting), var(--color-dark-gray));
  }

  &.status-rejected {
    @include status-theme(var(--bg-rejected), var(--border-rejected), var(--danger-alt));
  }

  &.status-approved {
    @include status-theme(var(--bg-approved), var(--border-approved), var(--success-alt));
  }

  &.status-revision {
    @include status-theme(var(--revision-bg), var(--revision-color), var(--revision-color));
  }
}
