@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins/flex' as *;
@use '../../../../styles/mixins/grid' as *;

.basic-data-form {
  font-family: 'Demi';

  .toggll-container {
    @include flex-row(nowrap, flex-start, center);

    gap: $XsSize4;

    .title {
      color: $PrimaryColor;
      font-size: $MdSize2;
      font-weight: $BaseFontSemiBoldWeight;
    }

    svg {
      transition: all 0.3s ease-in-out;

      &.rotate-180 {
        transform: rotate(180deg);
      }
    }
  }

  .dashed-border {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #d0d0d0;
  }

  .p-accordionpanel:last-child > .p-accordionheader {
    padding-left: 0 !important;
  }

  .form-fields {
    .field-group {
      .field-label {
        width: fit-content;
        text-align: start;
        color: $Gray-5;
        font-size: $MdSize;
        font-weight: $BaseFontSemiBoldWeight;
        text-transform: capitalize !important;
      }

      .input-wrap {
        input {
          font-size: $MdSize;
          font-weight: $BaseFontSemiBoldWeight;

          &::placeholder {
            color: $SecondText;
            font-size: $MdSize;
            font-weight: $BaseFontMediumWeight;
            font-family: 'Demi';
          }
        }
      }
    }

    .image-input {
      .upload-label {
        width: fit-content;
        text-align: start;
        font-family: 'Demi';
        color: $Gray-5 !important;
        font-size: $MdSize !important;
        font-weight: $BaseFontSemiBoldWeight !important;
        text-transform: capitalize !important;
      }
    }
  }

  .new-form-group {
    .input-label {
      width: fit-content;
      text-align: start;
      font-family: 'Medium';
      color: #5d5d5d;
      font-size: 14px !important;
      font-weight: 600 !important;
      text-transform: capitalize !important;
    }
  }
}
