@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins/flex' as *;
@use '../../../../styles/mixins/grid' as *;

.article-solution-steps-explain {
  border: 1px solid $PrimaryColor;
  border-radius: 50px;
  padding: 10px !important;
  margin-block: 20px !important;

  &.active {
    border-radius: 12px;
  }

  .p-accordionheader {
    padding: 5px 0 !important;
  }

  .p-accordioncontent-content {
    padding: 10px !important;
  }
}

.article-details-form-card {
  // border: 1px solid $PrimaryColor;
  // border-radius: 50px;
  // padding: 10px !important;
  margin-block: 20px !important;

  .article-solution-steps-header {
    position: relative;
    width: 100%;
  }

  .toggll-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .dashed-border {
    width: 85%;
    height: 1px;
    border-bottom: 1px dashed #d0d0d0;
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  .article-solution-steps-header {
    gap: 5px;
    margin-bottom: $XlSize2;
  }

  .form-header {
    padding-left: 0 !important;
  }

  .field-group {
    margin-bottom: $XlSize;
  }

  .input {
    margin-bottom: $XlSize;
  }

  .field-label {
    font-size: $MdSize;
    color: var(--title-header-color) !important;
    text-transform: none;
    font-weight: $BaseFontSemiBoldWeight !important;
    font-family: 'medium';
  }

  .input-label {
    font-size: $MdSize;
    color: var(--title-header-color) !important;
    text-transform: none;
    font-weight: $BaseFontSemiBoldWeight !important;
    font-family: 'medium';
  }

  .document-tab {
    .form-group-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--md-size);
    }

    .field-input {
      width: 100%;
      background-color: transparent;
      border-radius: 50px;
    }
  }

  &.active {
    border-radius: 12px;
  }

  .p-accordionheader {
    padding: 5px 0 !important;
  }

  .p-accordioncontent-content {
    padding: 0 !important;
  }

  .article-clarification-header {
    @include flex-row(nowrap, space-between, center);
    gap: 10px;
    width: 100%;
    color: $PrimaryColor;
    padding: 0 !important;
  }

  .form-group {
    padding: 0;
  }

  .input-wrapper {
    @include flex-column(nowrap, flex-start, stretch);
    gap: 5px;
    width: 100%;
    padding: 0 !important;

    .description-container {
      width: 100%;
      border: 1px solid #e6e6e6;
      border-radius: 12px;
      margin-bottom: $XlSize;

      .description-header {
        background-color: #e6e6e6;
        width: 100%;
        border-radius: 12px 12px 0 0;
        padding: 10px;
        color: #000000;
        @include flex-row(nowrap, space-between, center);
      }

      textarea {
        background-color: white !important;
        padding: 10px;
        border: 1px solid #848484;
        width: 100%;
        border: none;

        &:active,
        &:focus {
          border: none;
          outline: none;
          box-shadow: none;
          border: none;
        }
      }
    }
  }

  .image-input {
    :deep(.upload-area) {
      padding: 10px !important;
      border-radius: 50px;
      background-color: white;
    }

    .upload-attachment-container {
      @include flex-row(nowrap, flex-start, center);
      gap: 10px;

      .upload-attachment {
        color: $PrimaryColor;
      }
    }
  }
}

.article-solution-steps-header-explain {
  @include flex-row(nowrap, space-between, center);
  gap: 10px;
  width: 100%;
  color: $PrimaryColor;
  padding: 0 !important;
}
