@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins/flex' as *;
@use '../../../../styles/mixins/grid' as *;

.article-solution-steps-explain {
  border: 1px solid $PrimaryColor;
  border-radius: 50px;
  padding: 10px !important;
  margin-block: 20px !important;

  &.active {
    border-radius: 12px;
  }

  .p-accordionheader {
    padding: 5px 0 !important;
  }

  .p-accordioncontent-content {
    padding: 10px !important;
  }
}

