@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins/flex' as *;
@use '../../../../styles/mixins/grid' as *;

.All_over_view {
  background-color: var(--background-color-soft-light);
  padding: $MdSize;
  border-radius: $XlSize;

  .buttons {
    @include flex(row, nowrap, start, center);
    gap: $XsSize2;
  }
  .form-header {
    .btn-action {
      background-color: var(--input-border-color);
      color: rgba(26, 26, 26, 1);
      border: none;
      border-radius: $XlSize4;
    }
    .btn-delet {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--input-border-color);
    }
    .btn-edit {
      background: white;
      border: 1px solid var(--primary-green);
      color: var(--primary-green);
      border-radius: $XlSize4;
      &:hover {
        background-color: var(--primary-green) !important;
        color: white !important;

        :deep(svg) {
          color: white;
        }

        :deep(path) {
          stroke: white;
        }
      }
    }

    .header-text {
      @include flex(row, nowrap, start, center);
      gap: $XsSize3;

      h6 {
        font-family: 'medium';
        font-size: $XlSize;
        color: var(--title-color);
        font-weight: $BaseFontSemiBoldWeight;
      }
    }
  }

  .cards_details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $MdSize;

    .card_one {
      border: 1px solid var(--input-border-color);
      background-color: var(--bg-header);
      border-radius: $XlSize;
      padding: $MdSize;

      .details {
        @include flex(row, nowrap, start, center);
        gap: $XlSize2;
      }

      .head {
        @include flex(row, nowrap, start, center);
        gap: $XsSize4;

        h6 {
          color: var(--bread-crumb-color-span);
          font-family: 'medium';
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
        }

        p {
          font-family: 'medium';
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          color: var(--blue-opacit);
        }

        .title {
          font-family: 'bold';
          font-size: $XlSize2;
          font-weight: $BaseFontWeightBold;
          color: var(--table-header-color);
          margin: $XsSize4 0;
        }

        .description {
          font-family: 'medium';
          font-size: $MdSize;
          font-weight: $BaseFontMediumWeight;
          color: var(--table-data-color);
          margin-bottom: $XsSize4;
        }

        .question {
          @include flex(row, nowrap, start, center);
          gap: $XsSize4;
        }

        .number_of_questions {
          color: var(--primary-green);
          background-color: var(--PrimaryColor-alpha-10);
          padding: $XsSize5 $XsSize4;
          border-radius: $XsSize4;
          font-family: 'bold';
          font-size: $MdSize;
          font-weight: $BaseFontWeightBold;
        }
      }
    }

    .card_two {
      border: 1px solid var(--input-border-color);
      background-color: var(--bg-header);
      border-radius: $XlSize;
      padding: $MdSize;

      .title {
        h6 {
          font-family: 'medium';
          font-size: $XlSize;
          color: var(--bread-crumb-color-span);
          font-weight: $BaseFontMediumWeight;
        }
      }

      .Subjects {
        @include flex(row, nowrap, space-between, center);

        .sub_subject {
          color: var(--primary-green);
          font-family: 'bold';
          font-size: $SmSize;
          color: var(--primary-green);
          font-weight: $BaseFontWeightBold;
        }

        .contant {
          padding: $XsSize;

          .govermental {
            position: relative;
            margin: $XsSize2 0;

            p {
              font-family: 'medium';
              font-size: $XsSize;
              color: var(--table-data-color);
              font-weight: $BaseFontWeight;
            }

            .arrow-icon {
              position: absolute;
              top: 130%;
              left: -7%;
              transform: translate(-50%, -50%);
              z-index: 1;
            }
          }
        }
      }

      .source {
        border-top: 1px solid var(--input-border-color);
        padding-top: $XsSize;

        .title {
          margin-bottom: $XsSize4;

          h6 {
            font-family: 'medium';
            font-size: $SmSize;
            color: var(--bread-crumb-color-span);
            font-weight: $BaseFontSemiBoldWeight;
          }
        }

        .artical_document {
          @include flex(row, nowrap, start, center);
          position: relative;
          margin-bottom: $XsSize3;
          padding: 0 var(--xs-size);

          .arrow-icon {
            position: absolute;
            top: 25px;
            left: 8px;
            transform: translate(-50%, -50%);
            z-index: 1;
          }

          h6 {
            font-family: 'medium';
            font-size: $XsSize;
            color: var(--bread-crumb-color-span);
            font-weight: $BaseFontMediumWeight;
          }

          p {
            font-family: 'medium';
            font-size: $XsSize;
            color: var(--table-data-color);
            font-weight: $BaseFontSemiBoldWeight;
          }
        }
      }
    }
  }
}
