@use '../../../../../styles/variables.scss' as *;
@use '../../../../../styles/mixins/flex.scss' as *;
@use '../../../../../styles/mixins/grid.scss' as *;

.mcq-answers-time-line-container {
  .timeline-form-content {
    margin-block: 10px !important;
  }

  .timeline-form-content {
    display: grid;
    grid-template-columns: 75% 20% 5%;
    gap: 10px;
    align-items: end;
    margin-block: 10px;

    &.without-delete {
      grid-template-columns: 80% 20%;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 0;
    }

    .timeline-content {
      @include flex-row(nowrap, center, center);
    }

    .field-group {
      position: relative;

      .field-label {
        width: fit-content;
        text-align: start;
        color: black !important;
        font-size: $MdSize;
        font-weight: $BaseFontSemiBoldWeight;
        text-transform: capitalize !important;
        font-family: 'Demi';
        // margin-bottom: 5px;
      }

      .field-input {
        border-radius: 50px;
        background-color: white;
        padding: 10px;
      }

      .files-input {
        position: absolute;
        bottom: 34%;
        transform: translateY(50%);
        right: 10px;
        border-radius: 50px;

        &.haveImage {
          .upload-area {
            display: none !important;
          }
        }
      }

      .image-input {
        width: 100%;

        .upload-area {
          background-color: $StandardWhite !important;
          padding: 5px !important;
          border-radius: 50%;
          border: 1px solid $PrimaryColor !important;
        }

        .preview-item {
          width: 40px !important;
          height: 40px !important;
          border-radius: 50%;
        }

        .add-imaegs-data {
          @include flex-column(nowrap, center, center);

          gap: $XsSize5;

          .first-text {
            color: $Gray-5;
            font-size: $XsSize;
            font-weight: $BaseFontSemiBoldWeight;

            span {
              color: $PrimaryColor;
              padding-inline: $XsSize5;
            }
          }

          .second-text {
            color: $SecondText;
            font-size: $XsSize;
            font-weight: $BaseFontWeight;
          }
        }
      }
    }
  }

  .is-correct-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    padding: 10px !important;
    cursor: pointer;
     color: #121212;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Medium';
    // height: 50px;
    // margin-top: 23px;

    label {
      color: #121212;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Medium';

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }

    .p-checkbox-box { 
      border-radius: 5px !important;
    }
  }

  .add-icon {
    @include flex-row(nowrap, flex-start, center);

    margin-block: 10px;
    cursor: pointer;

    span {
      padding-inline: 5px;
      color: $PrimaryColor;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Medium';
    }

    svg {
      width: 19px;
      height: 19px;
    }
  }

  .delete-icon-container {
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: 5px;
    // border: 1px solid red;
    // border-radius: 50%;
    // transform: translateY(10px);
    cursor: pointer;

    .delete-btn {
      align-self: center;
      border: none;
      padding: 5px;
    }
  }
}
